{% extends 'blog/base.html' %}

{% load static %}

{% block banner %}
    <header>
        <div id="banner" style="background-image: url({% static 'images/kenting.jpg' %})">
            <div class="jumbotron">
                <h1 class="display-1 text-center"> Ray Chang </h1>
                <h5>&#151; About &#151;</h5>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="about">
        <h1> About Me </h1>
        <p>
            I am a second-degree computer science student at UBC in the BCS program. A few years ago, while working with
            the Vancouver Police Department, I began learning programming in my spare time and immediately got hooked.
            Coupled with my interest in cybercrime from my days studying criminology, I decided to make the jump and
            pursue CS. Since then, it has been an exciting whirlwind of hackathons, programming projects, and work experience.
        </p>
        <p>
            When I'm <b>not</b> busy tapping away at the keys, you can most likely find me <del>sleeping</del> hiking
            one of the local trails, making a mean pasta carbonara, or chalking up yet another win in Mario Kart 64.
        </p>
        <p>
            My other love in life is travelling. I have been lucky enough to visit 24 countries and live in 3 of them!
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" scrolling="no"
                  src="https://fusiontables.google.com/embedviz?q=select+col8%3E%3E1+from+1CUC7qNU_ZSlgxGZt41uDtRujOGx69MxLZq3MWnyT&amp;viz=MAP&amp;h=false&amp;lat=35.68841815044703&amp;lng=15.1171875&amp;t=1&amp;z=2&amp;l=col8%3E%3E1&amp;y=2&amp;tmplt=2&amp;hml=KML">
          </iframe>
        </div>

        <i class="fa fa-map-marker" aria-hidden="true">
            <i>
                Austria, Belgium, Cambodia, Denmark, France, Germany, Hong Kong, Hungary, Ireland, Italy, Japan,
                Netherlands, Poland, Slovakia, Sweden, Switzerland, Taiwan, Thailand, the United Kingdom,
                the United States, Vatican City, Vietnam
            </i>
        </i>
    </div>
{% endblock %}

