{% extends 'blog/base.html' %}
{% load static %}

{% block banner %}
    <header>
        <div id="banner" style="background-image: url({% static 'images/skyline1.jpg' %})">
            <div class="jumbotron">
                <h1 class="display-1 text-center"> Ray Chang </h1>
                <!-- <h2 class="display-4"> Sub-heading </h2> -->
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
	<div class="comment">
		<p>Leave a Reply</p>
		<form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Post Comment</button>
		</form>
	</div>
{% endblock %}