<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Ray Chang</title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Raleway|Sura|Questrial" rel="stylesheet">
		<!-- Theme -->
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<a name="top"></a>
    </head>
    
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-toggleable-sm navbar-light bg-faded justify-content-end">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbar-collapse-1">
						<div class="nav navbar-nav">
							<a class="nav-item nav-link" href="{% url 'post_list' %}">Home</a>
							<a class="nav-item nav-link" href="#">About</a>
							<a class="nav-item nav-link" href="{% url 'resume' %}">Resume</a>
							<!-- <a class="nav-item nav-link" href="{#% url 'contact_me' %#}">Contact</a> -->
							{% if user.is_authenticated %}
								<a class="nav-item nav-link" href="{% url 'post_new' %}"><i class="fa fa-plus"></i></a>
								<a class="nav-item nav-link" href="{% url 'post_draft_list' %}"><i class="fa fa-pencil-square-o"></i></a>
								<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
							{% else %}
								<a class="nav-item nav-link" href="{% url 'login' %}"><i class="fa fa-unlock-alt"></i></a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</nav>
		
		<!-- Header -->
		<header>
            <div id="banner" style="background-image: url({% static 'images/skyline1.jpg' %})">
                <div class="jumbotron">
                    <h1 class="display-1"> Ray Chang </h1>
                    <hr>
                    <!-- <h2 class="display-4"> Sub-heading </h2> -->
                </div>
            </div>
		</header>
		
		<!-- Content -->
		<div class="container-fluid">
			<div class="row">
                <div class="col-md-8 content">
					{% block content %}
					{% endblock %}
                </div>
                <div class="col-md-4">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col sidebar-static">
                                <div class="row">
                                    <img src="{% static 'images/sidebar.jpg' %}" class="rounded-circle img-fluid mx-auto d-block">
                                </div>
                                <hr>
                                <div class="row">

                                </div>
                            </div>
                        </div>
                        {% block sidebar %}
                        {% endblock %}
                    </div>
                </div>
			</div>
		</div>
		
		<hr>
	
		<!-- Footer -->
		<footer>
			<div class="container-fluid container-footer">
				<div class="row justify-content-end">
					<div class="footer-content col-4">
						<ul class="list-inline">
							<li class="list-inline-item"><a href="https://www.facebook.com/raymond.chang.35"><i class="fa fa-facebook fa-3x"></i></a></li>
							<li class="list-inline-item"><a href="https://www.linkedin.com/in/rtchang/"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
							<li class="list-inline-item"><a href="https://github.com/rt-chang"><i class="fa fa-github-square fa-3x"></i></a></li>
						</ul>
					</div>
					<div class="footer-content col-4">
						<a href="#top"><i class="fa fa-chevron-up" aria-hidden="true"> Back to Top</i></a>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="footer-content col-4">
						<i class="fa fa-copyright" aria-hidden="true"> 2017 Raymond Chang</i>
					</div>
				</div>
			</div>
		</footer>
		
		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<!-- Bootstrap Javascript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		
    </body>
</html>