{% extends 'blog/base.html' %}

{% block content %}
	<div class="post col-md-8">		
		<h1>{{ post.title }}</h1>
			{% if post.published_date %}
				<div class="date">
					<p>Published on: {{ post.published_date }}</p>
				</div>
			{% else %}
				<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
		{% endif %}
		<p> {{ post.text|linebreaksbr }}</p>
		
	<hr>
	
	<p>
		<a href="{% url 'add_comment_to_post' pk=post.pk %}"><i class="fa fa-comment" aria-hidden="true"></i> Add Comment</a>
	</p>
	
	{% for comment in post.comments.all %}
		{% if user.is_authenticated or comment.approved_comment %}
		<div class="comment">
			<div class="date">
				{{ comment.created_date }}
			</div>
			<strong>{{ comment.author }}</strong>
			<p>{{ comment.text|linebreaks }}</p>
		</div>
		{% endif %}
	{% empty %}
		<p>No comments</p>
	{% endfor %}
	</div>
	
	{% if user.is_authenticated %}
		<div class="post-edit-icons col-md-4">
			<a href="{% url 'post_edit' pk=post.pk %}"><i class="fa fa-pencil"></i> Edit </a>
			<b> | </b>
			<a href="{% url 'post_remove' pk=post.pk %}"><i class="fa fa-times"></i> Remove </a>
		</div>
	{% endif %}
{% endblock %}