{% extends 'blog/base.html' %}
{% load static %}

{% block banner %}
    <header>
        <div id="banner" style="background-image: url({% static 'images/skyline1.jpg' %})">
            <div class="jumbotron">
                <h1 class="display-1 text-center"> Drafts </h1>
                <!-- <h2 class="display-4"> Sub-heading </h2> -->
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
	{% for post in posts %}
		<div class="post">
			<p class="date">Created: {{ post.created_date|date:'d-m-Y' }}</p>
			<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title}}</a></h1>
			<p>{{ post.text|truncatechars:200 }}</p>
		</div>
	{% endfor %}
{% endblock %}