.navbar {
	margin-top: 0;
	margin-bottom: 10px;
	background: none;
}

h1, h2, h3, h4, a {
	font-family: 'Sura', serif;
}

p {
	font-family: 'Raleway', sans-serif;
	word-wrap: break-word;
}

.date {
	color: #828282;
}

.save {
	float: right;
}

.post-form textarea, .post-form input {
	width: 100%;
}

.post {
	padding-left: 30px;
	margin-bottom: 35px
}

.post h1 a {
	color: #464a4c;
}

.comment {
	margin: 20px 0px 20px 20px;
}

.container-footer {
	margin: 0px;
	padding-left: 15px;
	padding-right: 15px; 
	padding-bottom: 15px;
}

.list-inline > li {
	padding-left: 5px;
	padding-right: 5px;
}

.list-inline-item > a {
	color: #292b2c
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin: 0px;
}

.footer-content {
	text-align: center;
}

header {
	margin-bottom: 50px;
}

.jumbotron {
	background: none;
	margin: 0px;
	padding: 25px;
}

.jumbotron > h1 {
	color: #ffffff;
	font-family: 'Questrial', sans-serif;
	text-shadow: 2px 1px #000000;
}

.jumbotron > h2 {
	color: #ffffff;
	font-family: 'Questrial', sans-serif;
	text-shadow: 2px 1px #000000;
}

#banner {
	text-align: center;
	padding: 40px;
	background-size: cover;
	background-position: center;
}

.sidebar {
	padding-left: 40px;
	padding-right: 40px;
}

.content {
	padding-left: 40px;
	padding-right: 40px;
}